<template>
  <div>
    <div>front</div>
    <remoteComponent />
  </div>
</template>

<script>
import Vue from 'vue'

const remoteComponent = Vue.component('remoteComponent', function (resolve, reject) {
  fetch('http://localhost:4000/component')
    .then((data) => {
      data.json().then((json) => {
        const t = eval(json.message)
        resolve({
          template: t
        })
      })
    })
    .catch((err) => {
      console.log('err', err)
      resolve({
        template: '<div>Ошибка</div>'
      })
    })
})

export default {
  components: {
    remoteComponent
  }
}
</script>
